[Unit]
Description=alsa 2 pulseaudio
Before=systemd-user-sessions.service
Before=lightdm.service
Requires=pulseaudio_system.service
Requires=amixer.service
Requires=x6100_app.service

[Service]
User=root
ExecStart=/usr/bin/gst-launch-1.0 alsasrc device=mixcapture ! pulsesink device=X6100_RX client-name=alsa_2_pulse.service
Restart=on-failure

[Install]
WantedBy=multi-user.target
