[Unit]
Description=alsa 2 pulseaudio
Before=systemd-user-sessions.service
Before=lightdm.service
Requires=pulseaudio_system.service

[Service]
User=root
ExecStart=/bin/sh -c '/usr/bin/arecord -D mixcapture --format S16_LE --rate 16000 | /usr/bin/paplay --device=X6100_RX --client-name=alsa_2_pulse.service --stream-name=X6100'
Restart=on-failure

[Install]
WantedBy=multi-user.target
