[Unit]
Description=alsa 2 network X6100 RX
Before=systemd-user-sessions.service
Before=lightdm.service
Requires=amixer.service

[Service]
User=root
ExecStart=/usr/bin/gst-launch-1.0 alsasrc device=mixcapture ! audioconvert ! audio/x-raw,rate=16000,channels=2,format=S16LE ! wavenc ! tcpserversink port=7000 host=0.0.0.0
Restart=on-failure

[Install]
WantedBy=multi-user.target
