[Unit]
Description=x6100 CAT MUX Server
Requires=x6100_chroot.service
Requires=x6100_socat_cat.service

[Service]
User=root
ExecStart=/root/x6100_cat_mux
Restart=on-failure

[Install]
WantedBy=multi-user.target
