[Unit]
Description=x6100 CAT redirect
Requires=x6100_chroot.service

[Service]
User=root
Type=notify
ExecStart=/root/run_x6100_socat_app.sh start
ExecStop=/root/run_x6100_socat_app.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target

